# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [16]:
# Find the establishments with a hygiene score of 20
query = {'Hygiene':20}


# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

# Display the first document in the results using pprint
result = establishments.find_one(query)
if result:
    pprint(result)
else:
    print("No documents found with a hygiene score of 20")

No documents found with a hygiene score of 20

In [12]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [22]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    'LocalAuthorityName': 'London',
    'RatingValue': {'$gte': 4}
}
# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

# Display the first document in the results using pprint
print("First result:")
results = establishments.find(count)
pprint(results[0])

First result:
{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65fc84365ce1d90ea697af4c'),
 'geocode': {'latitude': '51.086058', 'longitude': '1.196408'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

In [23]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
num_rows = len(results_df)
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(results_df.head(10))

Number of rows in the DataFrame: 38787
First 10 rows of the DataFrame:
                        _id     FHRSID  ChangesByServerID  \
0  65fc84365ce1d90ea697af4c   647177.0                0.0
1  65fc84365ce1d90ea697af50  1043695.0                0.0
2  65fc84365ce1d90ea697af51   289352.0                0.0
3  65fc84365ce1d90ea697af52   289560.0                0.0
4  65fc84365ce1d90ea697af53   894592.0                0.0
5  65fc84365ce1d90ea697af54  1043701.0                0.0
6  65fc84365ce1d90ea697af55   987206.0                0.0
7  65fc84365ce1d90ea697af56   805702.0                0.0
8  65fc84365ce1d90ea697af57   344689.0                0.0
9  65fc84365ce1d90ea697af58   805703.0                0.0

  LocalAuthorityBusinessID               BusinessName  \
0             PI/000041489        Wear Bay Bowls Club
1             PI/000073616               The Pavilion
2             PI/000002460                   The Ship
3             PI/000039927                    Mariner
4             PI/000074396                     Docker
5             PI/000076360            Pick Up Pintxos
6             PI/000075655           The Ships Galley
7             PI/000073219   Dr Legumes - Harbour Arm
8             PI/000002095   Folkestone Trawlers Shop
9             PI/000073221  That Burger - Harbour Arm

              BusinessType  BusinessTypeID         AddressLine1  \
0        Pub/bar/nightclub          7843.0        Wear Bay Road
1  Restaurant/Cafe/Canteen             1.0  East Cliff Pavilion
2        Pub/bar/nightclub          7843.0         23 The Stade
3        Pub/bar/nightclub          7843.0         16 The Stade
4        Retailers - other          4613.0   Folkestone Harbour
5   Takeaway/sandwich shop          7844.0   Folkestone Harbour
6        Pub/bar/nightclub          7843.0             The Ship
7  Restaurant/Cafe/Canteen             1.0   Folkestone Harbour
8        Retailers - other          4613.0          1 The Stade
9   Takeaway/sandwich shop          7844.0   Folkestone Harbour

            AddressLine2 AddressLine3  ...        LocalAuthorityEmailAddress  \
0             Folkestone         Kent  ...  foodteam@folkestone-hythe.gov.uk
1          Wear Bay Road   Folkestone  ...  foodteam@folkestone-hythe.gov.uk
2             Folkestone         Kent  ...  foodteam@folkestone-hythe.gov.uk
3             Folkestone         Kent  ...  foodteam@folkestone-hythe.gov.uk
4  Harbour Approach Road   Folkestone  ...  foodteam@folkestone-hythe.gov.uk
5  Harbour Approach Road   Folkestone  ...  foodteam@folkestone-hythe.gov.uk
6           23 The Stade   Folkestone  ...  foodteam@folkestone-hythe.gov.uk
7  Harbour Approach Road   Folkestone  ...  foodteam@folkestone-hythe.gov.uk
8             Folkestone         Kent  ...  foodteam@folkestone-hythe.gov.uk
9  Harbour Approach Road   Folkestone  ...  foodteam@folkestone-hythe.gov.uk

                                              scores SchemeType  \
0  {'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...       FHRS
1  {'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...       FHRS
2  {'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...       FHRS
3  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
4  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
5  {'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...       FHRS
6  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
7  {'Hygiene': 0, 'Structural': 10, 'ConfidenceIn...       FHRS
8  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
9  {'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...       FHRS

                                             geocode RightToReply  \
0  {'longitude': '1.196408', 'latitude': '51.0860...
1  {'longitude': '1.195625', 'latitude': '51.0838...
2  {'longitude': '1.188537', 'latitude': '51.08084'}
3  {'longitude': '1.188537', 'latitude': '51.08084'}
4  {'longitude': '1.18590330311705', 'latitude': ...
5  {'longitude': '1.18590330311705', 'latitude': ...
6  {'longitude': '1.188537', 'latitude': '51.08084'}
7  {'longitude': '1.18590330311705', 'latitude': ...
8  {'longitude': '1.188537', 'latitude': '51.08084'}
9  {'longitude': '1.18590330311705', 'latitude': ...

      Distance NewRatingPending  \
0  4591.821311            False
1  4591.765489            False
2  4591.912145            False
3  4591.912145            False
4  4591.914705            False
5  4591.914705            False
6  4591.912145            False
7  4591.914705            False
8  4591.912145            False
9  4591.914705            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links name
0  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
1  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
2  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
3  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
4  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
5  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
6  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
7  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
8  [{'rel': 'self', 'href': 'https://api.ratings....  NaN
9  [{'rel': 'self', 'href': 'https://api.ratings....  NaN

[10 rows x 29 columns]

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

In [ ]:
# Convert result to Pandas DataFrame
rating_df = pd.DataFrame(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [32]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

match_query = {'$match': {'establishments.scores.Hygiene': {'$eq': 0}}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number of documents in result:", len(results))

# Print the first 10 results
pprint(results[0:10])

Number of documents in result: 0
[]

In [33]:
# Convert the result to a Pandas DataFrame
local_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
num_rows = len(local_df)
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(local_df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []